$color-dark: #dddddd;
$color-inactive-dark: #666666;
$color-bg-dark: black;
$color-separator-dark: #3e3e3e;

$color-widget-bg-dark: #1e1e1e;

$color-accent-dark: #800080;
$color-accent-dark-95: #ffe6ff;
$color-accent-dark-90: #ffccff;
$color-accent-dark-85: #ffb3ff;
$color-accent-dark-80: #ff99ff;
$color-accent-dark-75: #ff80ff;
$color-accent-dark-70: #ff66ff;
$color-accent-dark-65: #ff4dff;
$color-accent-dark-60: #ff33ff;
$color-accent-dark-55: #ff1aff;
$color-accent-dark-50: #ff00ff;
$color-accent-dark-45: #e600e6;
$color-accent-dark-40: #cc00cc;
$color-accent-dark-35: #b300b3;
$color-accent-dark-30: #990099;
$color-accent-dark-20: #660066;
$color-accent-dark-15: #4d004d;
$color-accent-dark-10: #330033;
$color-accent-dark-5: #1a001a;

