/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'colors';

@import '../../../node_modules/golden-layout/src/css/goldenlayout-base.css';
@import '../../../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css';
@import '../../../node_modules/xterm/dist/xterm.css';

body {

    &, button {
        font-family: Consolas, "Courier New", monospace;
        font-weight: normal;
        font-size: 14px;
        // letter-spacing: 1px;
    }

    display: flex;
    color: $color-dark;
    background: $color-bg-dark;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.__hidden {
    display: none;
}

.lm_content {
    background-color: rgb(30, 30, 30);
    xborder: 1px solid red;
}

.lm_popout {
    display: none;
}

ngx-monaco-editor {
    height: 120px !important;
}

clic-terminal .terminal {
    flex: 1;
}

.quick-open-widget {
    position: fixed;
    height: 300px !important;

    .quick-open-tree {
        height: 265px !important;
    }
}