/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'colors';

@import '../../../node_modules/golden-layout/src/css/goldenlayout-base.css';
@import '../../../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css';
@import '../../../node_modules/xterm/dist/xterm.css';

body {

    &, button {
        font-family: Consolas, "Courier New", monospace;
        font-weight: normal;
        font-size: 14px;
    }

    display: flex;
    color: $color-dark;
    background: $color-bg-dark;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.__hidden {
    display: none;
}

.lm_content {
    background-color: rgb(30, 30, 30);
}

.lm_header .lm_controls {
    .lm_popout, .lm_maximise, .lm_close {
        display: none !important;
    }
}

.lm_header {
    -webkit-app-region: drag;
    margin-right: 20px; // so that toolbar buttons are clickable
}

.lm_tab {
     -webkit-app-region: no-drag;
}

.lm_tab {
    border-top: 2px solid transparent;

    &:first-of-type {
        margin-left: 20px;
    }

    &.lm_active {
        color: $color-inactive-dark;
        &:hover {
            color: $color-dark;
        }
        .lm_close_tab {
            opacity: 0.4 !important;
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    &.clic-focus {
        border-top-color: $color-accent-dark;
        &, &:hover {
            color: $color-dark;
        }
    }
}

clic-terminal .terminal {
    flex: 1;
}

.quick-open-widget {
    position: fixed;
    height: 300px !important;

    .quick-open-tree {
        height: 265px !important;
    }
}

@keyframes flash {
	0% { background-color: $color-bg-dark; }
	50% { background-color: $color-accent-dark; }
	100% { background-color: $color-bg-dark; }
}

.clic-tab-flash {
    animation: flash linear 1s infinite;
}

.clic-tab-number {
    display: none;
    position: absolute;
    right: 3px;
    top: 1px;
    background: $color-accent-dark;
    color: $color-dark;
    padding: 0px 4px;
    border-radius: 100%;
    width: 7px;
}

.clic-show-tab-number {
    .clic-tab-number {
        display: initial;
    }
}

.no-editors clic-toolbar {
    height: 30px !important;

    .clic-button {
        top: -2px;

        &.new-terminal {
            display: initial;
        }
    }
}

.xterm .xterm-viewport {
    overflow-y: hidden;
}

.clic-line-run {
    color: $color-accent-dark;
    opacity: 0;
    font-size: 22px;
    cursor: pointer;
    top: -2px;

    &:hover {
        opacity: 1;
    }

    &::after {
        content: "►"
    }
}

.clic-new-terminal {
    position: relative;
    display: inline-block;
    font-size: 20px;
    left: 4px;
    top: -2px;
    width: 17px;
    color: $color-inactive-dark;
    cursor: pointer;
    -webkit-app-region: no-drag;

    &::before {
        content: "+";
    }

    &:hover {
        color: $color-dark;
    }
}