@import "../../assets/scss/colors";

:host {
    display: flex;
    height: 8px;
    padding-left: 25px;
    align-items: center;
    -webkit-app-region: drag;
    border-top: 1px solid $color-separator-dark;
}

.clic-button {
    position: relative;
    top: 9px;
    z-index: 1;
    color: $color-inactive-dark;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 22px;
    -webkit-app-region: no-drag;
    user-select: none;
    &:hover {
        color: $color-dark;
    }

    &.close-window {
        transform: rotate(45deg);
        font-size: 26px;
        margin-right: 10px;
    }

    &.new-terminal {
        position: absolute;
        display: none;
        top: 2px;
        left: 5px;
    }
}

.info {
    z-index: 1;
    margin-left: auto;
    margin-top: 18px;
    padding-right: 6px;
}
