@import "colors";

:host {
    display: flex;
    height: 8px;
    padding-left: 5px;
    align-items: center;
    -webkit-app-region: drag;
    border-top: 1px solid $color-separator-dark;
}

.clic-button {
    position: relative;
    top: 9px;
    z-index: 1;
    color: $color-inactive-dark;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 22px;
    -webkit-app-region: no-drag;
    user-select: none;
    &:hover {
        color: $color-dark;
    }
}

.info {
    margin-left: auto;
    padding-right: 6px;
}

.close-window {
    transform: rotate(45deg);
    font-size: 26px;
}