<ng-container *ngIf="wasActive">
    <div #editorElement
         class="monaco-editor"></div>
    <clic-prompt [prompt]="prompt.prompt"></clic-prompt>
    <clic-terminal (sessionInfo)="onSessionInfo($event)"
                   [cwd]="initialCwd"
                   [style.display]="hasSession ? null : 'none'"
                   #terminal
                   (focusNextGroup)="focus()"
                   (pasteFromClipboard)="pasteFromClipboard()"></clic-terminal>
    <span (click)="restart()"
          title="Click to restart"
          [style.display]="hasSession ? 'none' : null"
          class="restart">Terminal session has exited. Press [Enter] to restart.
    </span>
</ng-container>