@import "colors";

:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.restart {
    margin-top: 20px;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.monaco-editor {
    z-index: 1;
    border-bottom: 1px solid $color-separator-dark;
}
