@import "colors";

:host {
    display: flex;
    /* background: red; */
    /* border: 1px solid red; */
    height: 100%;
    flex-direction: column;
}

.monaco-editor {
    height: 120px !important;
}

.restart {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

